*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.background{
  min-height: 100vh;
  height: 100%;
  min-width: 100%;
  background-color: rgb(2, 63, 60);
  overflow: auto;
  padding-bottom: 50px;
}

/* .container{
  width: 70%;
  min-width: 350px;
  margin: 25px auto;
  padding: 0 0 20px 0;
  background-color: white;
  box-shadow: 0px 5px 5px black;
  opacity: 0;
  animation-name: opacIn;
  animation-duration: .5s;
  animation-fill-mode: forwards;
} */

.container{
  width: 90%;
  margin: 1em auto;
  background-color: white;
  padding-bottom: 1em;
  box-shadow: 0px 5px 5px black;
  opacity: 0;
  animation-name: opacIn;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  border-radius: 5px;
  background: white url("./images/bgSVG.svg") no-repeat bottom right;
}

@keyframes opacIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.wrapper{
  padding: 20px 20px 0 20px;
}

.inputText{
  padding: 5px;
  display: block;
  width: 90%;
  margin: 5px 0;
  font-size: 16px;
}

.text-center{
  text-align: center;
}

.formBtn{
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px black solid;
  background-color: rgb(2, 63, 60);
  color: white;
  cursor: pointer;
}

.formBtn:focus{
  outline: none;
}

.switchSignup{
  color: black;
  border: none;
  background-color: white;
  text-decoration: underline;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 3px;
}

.switchSignup:focus{
  outline: none;
}

.margin-top{
  margin-top: 2em;
}

.main-title{
  background-color: rgb(2, 63, 60);
  color: white;
  padding: 5px 0;
  border-radius: 5px;
  margin-bottom: .5em;
}

@media (max-width: 700px) {
  .main-title{
    width: fit-content;
    padding: 5px;
    margin: 0 auto .5em auto;
  }
}