.inputGroup{
  width: 80%;
  margin: 10px auto;
}

.inputGroup label{
  margin-right: 10px;
}

.topInput{
  padding: 5px;
  width: 70%;
  font-size: 16px;
}

.newQuestion{
  width: 80%;
  margin: auto;
}

.questionInput{
  margin: 10px 0;
}

.answer{
  padding: 5px;
  font-size: 14px;
  width: fit-content;
  min-width: 400px;
}

.answerBox{
  margin-top: .25em;
}

.answerButton{
  height: 34.8px;
  width: 34.8px;
  border: .5px black solid;
  background-color: white;
  margin-right: 2px;
}

.answerButton:focus{
  outline: none;
}

.addQBtn, .submitBtn, .beginBtn{
  width: 80%;
  margin: 10px auto;
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  border: 1px black solid;
  background-color: rgb(2, 63, 60);
  color: white;
}

.clicked{
  background-color: green;
  border-radius: 15px;
  transition: all, .3s;
}

.deleteQuestion{
  display: none;
}

.delBtn{
  background-color: darkred;
  color: white;
  border: 1px black solid;
  border-radius: 50%;
  height: 24.8px;
  width: 24.8px;
  margin-right: 5px;
}

.newQuestion{
  height: 0px;
  overflow-y: hidden;
  animation-name: dropQuestion;
  animation-duration: .3s;
  animation-fill-mode: forwards
}

@keyframes dropQuestion{
  0% {height: 0px}
  100% {height: 214.8px}
}
