.loginButtons .formBtn{
  margin-right: 30px;
}

.loginButtons{
  margin-top: 1em;
}

.downTown{
  height: 0px;
  overflow: hidden;
  font-style: italic;
  color: darkred;
  animation-name: downTown;
  animation-duration: .3s;
  animation-fill-mode: forwards
}

@keyframes downTown{
  0% {height: 0px}
  100% {height: 24px}
}