.homePic {
  width: 200px;
  height: auto;
  display: block;
}

.homeContent {
  font-size: 20px;
  padding: 3px;
  max-width: 600px;
  margin: 1em auto 0 auto;
}

.wrapperHome {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-column-gap: 10px;
  padding: 5px 10px;
  margin-top: 1em;
}

.middle {
  display: flex;
  justify-content: space-between;
  border: 1.5px rgb(2, 63, 60) solid;
  padding: 3px;
}

.textHome {
  padding: 5px;
}

.containerHome {
  animation-delay: .5s;
}

.return {
  width: 400px;
  text-align: center;
  margin: 2em auto;
  padding-bottom: 150px;
  position: relative;
}

.holderPlaces{
  width: 400px;
  margin: 2em auto;
}

.boxPlace {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  display: grid;
  place-items: center;
  font-size: 30px;
  border: 1px black solid;
  color: white;
  background: url("../../images/planet2.png");
  background-size: 800px;
}

#boxMove{
  animation-name: boxer;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-position-x: 340px;
}

#boxMove2{
  animation-name: reverseBoxer;
  animation-fill-mode: forwards;
  animation-duration: 7s;
  animation-timing-function: linear;
  transform: translate(250px, 0px);
  animation-iteration-count: infinite;
  background-position-x: 230px;
}

#boxMove3{
  width: 50px;
  height: 50px;
  font-size: 16px;
  transform: translate(175px, 50px);
  z-index: 3;
  background: yellow;
  color: black;
}

@keyframes boxer{
  
  0%, 100% {transform: translate(0px, 0px) scale(0.5); z-index: 5; background-position-x: 340px}
  25% {transform: translate(125px, 0px) scale(1); z-index: 5; background-position-x: 500px}
  50% {transform: translate(250px, 0px) scale(0.5); z-index: 5; background-position-x: 600px}
  74% {transform: translate(125px) scale(0.25); z-index: 2; background-position-x: 800px}
  75% {transform: translate(125px) scale(0.25); z-index: 2; background-position-x: 200px}
}

@keyframes reverseBoxer{
  0%, 100% {transform: translate(250px, 0px) scale(0.5); z-index: 5; background-position-x: 600px}
  24% {transform: translate(125px, 0px) scale(0.25); z-index: 2; background-position-x: 800px}
  25% {transform: translate(125px, 0px) scale(0.25); z-index: 2; background-position-x: 200px}
  50% {transform: translate(0px, 0px) scale(0.5); z-index: 5; background-position-x: 340px}
  75% {transform: translate(125px, 0px) scale(1); z-index: 5; background-position-x: 500px}
}