.homePic{
  width: 200px;
  height: auto;
  display: block;
}

.homeContent{
  font-size: 20px;
  padding: 3px;
  max-width: 600px;
  margin: 1em auto 0 auto;
}

.wrapperHome{
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-column-gap: 10px;
  padding: 5px 10px;
  margin-top: 1em;
}

.middle{
  display: flex;
  justify-content: space-between;
  border: 1.5px rgb(2, 63, 60) solid;
  box-shadow: 0 0 3px 3px rgba(2, 63, 60, 0.377);
  padding: 3px;
}

.textHome{
  padding: 5px;
}

.containerHome{
  animation-delay: .5s;
}
