.questionList{
  border: .5px black solid;
  padding: 15px;
  width: 80%;
  min-width: 300px;
  margin: 2em auto;
  box-shadow: 3px 3px 3px black;
  background-color: #ddd;
  border-radius: 15px;
}

.answerList{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  justify-content: space-between;
}

.answerBlock{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.answerBlock .answerBtn{
  margin-bottom: 1em;
}

.answerBtn{
  padding: 6px 9px;
  width: 70%;
  min-width: 250px;
  display: block;
  margin: .5em auto;
  border: 1px black solid;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  box-shadow: 2px 2px 2px black;
}

.answerBtn:focus{
  outline: none;
}

.clickedAnswer{
  color: white;
  background-color: rgb(2, 63, 60);
  box-shadow: none;
}

.answerBtn:hover{
  box-shadow: none;
  transition: all, .25s;
}