header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li{
  padding: 3px;
}