.resultBox{
  width: 70%;
  min-width: 350px;
  margin: auto;
  border-radius: 15px;
  padding: 10px;
}

.userAnswer{
  font-weight: 100;
  font-size: 16px;
  color: red;
}

.rightUserAnswer{
  color: green;
}

.answerArea{
  background-color: #333;
  border-radius: 15px;
  padding: 10px;
  margin-top: 1em;
}

.lightColor{
  color: #bbb;
}

.linkBack{
  color: rgb(2, 63, 60);
  margin-top: 1em;
  display: block;
  text-decoration: none;
}